body
{
 
    background-image: url('d2.jpg');
    background-repeat: repeat;
    background-attachment: fixed center;
    background-size: cover;
    font-size: 12px;
    font-family: 'Dancing Script', cursive;
    
}
h1
{
	text-align:left;
	font-size:30;
	font-family: "Algerian";
	margin-left:50px;
	
	
	}
	p{
		font-size:20;
		text-align:left;
		margin-right:770px;
		margin-left:50px

	}
	
	h2
	{
		font-family:"Algerian";
		text-align:left;
		margin-left:50px;
		font-size:30;
		
	}
	