body
{
 
    background-image: url('a.jpeg');
    background-repeat: repeat;
    background-attachment: fixed center;
    background-size: cover;
    font-size: 12px;
    font-family: 'Dancing Script', cursive;
    
}
dt
{
	text-align:left;
	font-size:30;
	font-family: "impact";
	margin-top:30px;
	
	
	}
	p{
		font-size:20;
		text-align:left;
		margin-right:550px;

	}
	
	
	