body { color:#fff;}
h1 { margin-top:35px}
#slideshow-wrapper {
  width: 740px;
  height: 320px;
  margin:30px auto;
}

#slideshow {
  margin-bottom: 5px;
  width: 740px;
  height: 300px;
  overflow: hidden;
  white-space: nowrap;
}

#slideshow img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.circle {
  margin-right: 15px;
  display: inline-block;
  background-color: white;
  width: 12px;
  height: 12px;
  border-radius: 50px;
}
